<div class="container mt-5">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="card">
        <div class="card-body text-center">
          <span class="titulo">{{ titulo }}</span>
          <form
            class="mt-3"
            [formGroup]="productoForm"
            (ngSubmit)="agregarProducto()"
          >
            <div class="mb-3">
              <input
                formControlName="producto"
                type="text"
                class="form-control lg"
                placeholder="Titulo de producto"
              />
              <div
                class="text-danger"
                *ngIf="
                  productoForm.get('producto')?.hasError('required') &&
                  productoForm.get('producto')?.touched
                "
              >
                <span
                  >El nombre del producto <strong>es obligatorio!</strong></span
                >
              </div>
            </div>
            <div class="mb-3 mt-3">
              <input
                formControlName="categoria"
                type="text"
                class="form-control lg"
                placeholder="Categoria de producto"
              />
              <div
                class="text-danger"
                *ngIf="
                  productoForm.get('categoria')?.hasError('required') &&
                  productoForm.get('categoria')?.touched
                "
              >
                <span>La categoria <strong>es obligatoria!</strong></span>
              </div>
            </div>
            <div class="mb-3 mt-3">
              <input
                formControlName="ubicacion"
                type="text"
                class="form-control lg"
                placeholder="Ubicacion de producto"
              />
              <div
                class="text-danger"
                *ngIf="
                  productoForm.get('ubicacion')?.hasError('required') &&
                  productoForm.get('ubicacion')?.touched
                "
              >
                <span>La ubicacion <strong>es obligatoria!</strong></span>
              </div>
            </div>
            <div class="mb-3 mt-3">
              <input
                formControlName="precio"
                type="number"
                class="form-control lg"
                placeholder="Precio de producto"
              />
              <div
                class="text-danger"
                *ngIf="
                  productoForm.get('precio')?.hasError('required') &&
                  productoForm.get('precio')?.touched
                "
              >
                <span>El precio <strong>es obligatorio!</strong></span>
              </div>
            </div>
            <button
              class="mt-3 btn btn-secondary btn-lg float-start"
              routerLink=""
            >
              Volver
            </button>
            <button class="mt-3 btn btn-success btn-lg float-end" [disabled]="productoForm.invalid" type="submit">
              Guardar
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
